<div id="schedule">
  <h1>Upcoming Schedule</h1>
    <div>Click game to enter score</div><br>
    <% @dates.each do |d| %>
      <% todays_games = [] %>
      <% todays_games = @upcoming_games.select{ |g| g.date == d} %>
      <table>
        <tr><%= d.strftime("%m-%d-%Y") %></tr>
        <tr class="one-days-games">
          <% todays_games.each do |tg| %>
            <td class="one-upcoming">
              <%= link_to edit_game_path(tg) do %>
                <%= tg.away_team.abbr %><br>
                <%= tg.home_team.abbr %>
              <% end %>
            </td>
          <% end %>
        </tr>
      </table>
    <%end %>
  </table>
</div>
