// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a.score-links {
  color: black;
}

.edit-game form{
  width: 40%;
  margin: auto;
}

.time{
  font-size: smaller;
  background-color: rgba(127,127,127,.3);
}
