// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: trebuchetMS;
}

#wrapper, #image-wrapper{
  width: 1445px;
  height: 1216px;
  margin: auto;
  background-color: rgba(0,110,220,1);
}

.content-section{
  background-color: rgba(255,255,255, 0.9);
  margin: 5px;
  padding: 5px;
  border: 1px solid rgb(128,128,128);
  border-radius: 5px;
}

#image-wrapper {
  background-image: url('softball.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  opacity: 0.2;
  z-index: -1;
  pointer-events: none;
}

#content {
  width: 58%;
  margin: auto;
}

#standings{
  width: 30%;
  margin-right: 0px;
  text-align: center;
  float: left;
  height: 320px;
}

#standings table{
  margin: auto;
}

.content-main{
  width: 67%;
  float:left;
}

.content-sidebar{
  width: 33%;
  float: right;
}

#scores{
  float: left;
  width: 96.5%;
  th{
    colspan: 2;
  }
}

#legend {
  width: 63%;
  float:left;
  height: 320px;
}

.one-game{
  margin: 3px;
  float: left;
  width: 95%;
}

.one-game:hover{
  background-color: rgba(255, 255, 255,1);
}

.one-upcoming{
  background-color: rgba(255,255,255,.8);
  border: 2px solid gray;
}

#schedule th{
  text-align: left;
}

.one-upcoming:hover{
border: 2px solid red;
background-color: rgba(255, 255, 255,1);
}

.one-game table{
  width: 95%;
  margin: auto;
}

#scores .one-days-games{
  width: 48%;
  float:left;
  border: 1px solid gray;
  margin: 3px;
}

.one-days-games tr{
  td{
    width: 32px;
  }
}

#schedule{
  float: left;
  a {
    text-decoration: none;
  }
}

#schedule td {
  width: 65px;
}

#tournament-button{
  width: 221px;
  height: 50px;
  float: left;
  a{
    text-decoration: none;
    margin: auto;
    font-weight: bold;
    font-size: larger;
  }
}

#team-list {
  padding: 0px;
  list-style-type: none;
  span{
  width: 40px;
  float: left;
  }
}

.individual-team a{
  text-decoration: none;
  decoration: none;
}

a:visited{
  text-decoration: none;
  color: inherit;
}

a{
  color: inherit;
}

thead td {
  color: black;
  font-weight: bolder;
  font-style: italic;
}

.date-column{
  padding-right: 20px;
}

#one-teams-games{
  width: 30%;
  margin: auto;
  background-color: rgba(255,255,255,.8);
}

#one-teams-games table{
  margin: auto;
}

#one-teams-stats table{
  margin: auto;
  padding-top: 30px;
  th, td{
    padding: 0px 20px;
    text-align: center;
  }
  td{
    background-color: rgba(255,255,255,.8);
  }
}

#team-heading{
  text-align: center;
}
