// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  font-family: trebuchetMS;
}

#wrapper{
  width: 100%;
}

#standings{
  width: 20%;
  margin-right: 50px;
  text-align: center;
  float: left;
}

#standings table{
  margin: auto;
}

#scores{
  float: left;
  width: 70%;
  th{
    colspan: 2;
  }
}

.one-game{
  margin: 3px;
  float: left;
  width: 15%;
}

.one-upcoming{
  padding-right: 20px;
}

.one-game table{
  width: 95%;
  margin: auto;
}

#schedule{
  float: left;
}
//
// #scores th {
//   colspan: 2;
// }

tr > td:first-child {
  padding-right: 20px;
}

tr > td {
  width: auto;
}

thead {
  background-color: #bbbbbb;
}

thead td {
  color: black;
  font-weight: bolder;
  font-style: italic;
}

table {
  border: 1px solid gray;
}
