.tourney .one-upcoming{
  width: 65px;
  height: 67px;
  margin: 5px;
}

.tourney .tournament-round{
  width: 75px;
  height: 319px;
  float: left;
}

.tourney{
  width: 800px;
  height: 100%;
  position: relative;
}

#bracket .one-game{
  width: 100px;
}

#bracket .one-game{
  border: 1px solid gray;
}

.scheduled-team{
  color: red;
  font-style: italic;
}
