<div id="nav-bar">
  <h1>Warner Park Mens Softball League</h1>
    <div id="center-bar">
      <div class ="menu-item">Teams</div>
      <div class ="menu-item">Scores</div>
      <div class ="menu-item">Schedule</div>
    </div>
    <div class="clear">
    </div>
</div>
