<div id="nav-bar">
  <h1 id="main-title" class="fancy">Warner Park</h1><h3 id="main-title"> Mens Softball League</h3>
    <div id="center-bar">
      <!-- <div class ="menu-item">Teams</div>
      <div class ="menu-item">Scores</div>
      <div class ="menu-item">Schedule</div>
      <div class ="menu-item">Standings</div> -->
    </div>
    <div class="clear">
    </div>
</div>
